<p>vmware/{{repoName}}  <button class="btn btn-outline" (click)="backToRepos()">Back to Pinned Repos</button></p>

<clr-tabs>
  <clr-tab>
      <button clrTabLink id="link1">Details</button>
      <clr-tab-content id="content1" *clrIfActive="true">
      <div class="container">
        <pre>{{readme}}</pre>
      </div>
      </clr-tab-content>
  </clr-tab>
  <clr-tab>
      <button clrTabLink>Commits</button>
      <clr-tab-content *clrIfActive>
        <app-commits-viewer [detailedData]="detailedData"></app-commits-viewer>
      </clr-tab-content>
    </clr-tab>
  </clr-tabs>

