  
  <clr-datagrid *ngIf="detailedData">
    <clr-dg-column>Comment </clr-dg-column>
    <clr-dg-column>Date</clr-dg-column>
    <clr-dg-column>Contributor</clr-dg-column>
    <clr-dg-column>Patch</clr-dg-column>

    <clr-dg-row *clrDgItems="let item of detailedData.commits">
        <clr-dg-cell>{{item.comment}}</clr-dg-cell>
        <clr-dg-cell>{{item.date}}</clr-dg-cell>
        <clr-dg-cell>{{item.contributor}}</clr-dg-cell>
        <clr-dg-cell><a href="{{item.patch}}" class="btn btn-outline" target="_blank">Open Patch</a></clr-dg-cell>

    </clr-dg-row>
  
    <clr-dg-footer>latest 30 commits</clr-dg-footer>
  </clr-datagrid>
